section {
    border-top: 1px solid #111;
    padding-top: 20px;
    margin-bottom: 80px;

    display: grid;
    grid-template-columns: 180px 1fr;
    gap: 40px;
}

.section-title {
    font-size: 12px;
}

.about {
    max-width: 700px;
    font-size: 22px;
    line-height: 1.3;
}

/* TELÉFONO */
@media (max-width: 600px) {

    .cv {
        padding: 20px;
    }

    header {
        margin-bottom: 50px;
    }

    .hero {
        margin-bottom: 70px;
    }

    h1 {
        font-size: clamp(48px, 16vw, 80px);
        letter-spacing: -3px;
    }

    section {
        grid-template-columns: 1fr;
        gap: 25px;
        margin-bottom: 60px;
    }

    .about {
        font-size: 18px;
    }

    .experience {
        grid-template-columns: 1fr;
        gap: 5px;
    }

    footer {
        flex-direction: column;
        gap: 10px;
    }
}